
/* ============== FONTS ============== */

/* ============== VARIABLES ============== */
:root {
    --primary-clr: #071b22;
    --primary-clr-alt: #37484e;
    --second-clr: hsl(194, 64%, 48%);
    --second-clr-alt: #3dB1d5;
    --white-clr: #f7fcfd;
    --white-clr-alt: #ebf1f2;
    --gray-clr: #F6F8F8;
    --input-border-clr: #a7b8be;
    --overflow-gradient: linear-gradient(270deg, #071b2200 0%, #09222a 94.8%);;
}

/* ============== GLOBAL ============== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--white-clr);
    color: var(--primary-clr);
    font-size: 1rem;
    font-family: sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--second-clr-alt);
}
a:visited {
    color: var(--second-clr-alt);
}
img {
    width: 100%;
    height: auto;
}
.container {
    padding: 0 3rem;
}
.section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.line-divider {
    background-color: var(--input-border-clr);
    height: 1px;
    width: 100%;
    margin-bottom: 2rem;
}
.section-title {
    color: var(--primary-clr-alt);
    font-weight: 500;
    font-size: 1.35rem;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    cursor: pointer;
    border: none;
    background-color: var(--second-clr-alt);
    color: var(--white-clr);
    font-size: 1.1rem;
    transition: 150ms background-color;
}
.btn:hover {
    background-color: var(--second-clr);
}

/* ============== HEADER ============== */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-clr);
    height: 4rem;
}
.logo {
    color: var(--white-clr);
    font-size: 1.4rem;
    font-weight: 800;
}
.logo em {
    font-weight: 200;
}
.nav-list {
    display: flex;
}
.nav-item {
    margin-right: 4rem;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-link {
    color: var(--white-clr-alt);
    font-size: 1.15rem;
}
.nav-link:hover {
    color: var(--white-clr);
}

/* ============== MAIN ============== */

/* --- banner --- */
.promo-banner-container {
    background: url('../images/promo-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-clr);
    padding: 1rem;
    position: relative;
    z-index: 1;
}
.promo-banner-container::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: var(--overflow-gradient);
}
.promo-title {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: .5rem;
}
.promo-desc {
    font-weight: 500;
    font-size: 1.2rem;
    max-width: 28rem;
    line-height: 1.6rem;
    margin-bottom: 1rem;
}
.promo-deadline {
    font-weight: 200;
    font-size: .9rem;
}

/* --- nav and search bar --- */
.nav_filter-search_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-filter-container {
    background-color: var(--white-clr-alt);
    padding: 1rem 1.5rem;
    width: 50%;
}
.nav-filter-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
.nav-filter-link {
    color: var(--primary-clr-alt);
    font-size: 1.2rem;
    font-weight: 500;
    transition: 150ms color;
}
.nav-filter-link:hover {
    color: var(--second-clr);
}

/* --- */
.search-form-container {
    margin-left: 1.4rem;
    display: flex;
    align-items: center;
    width: 50%;
}
.search-input {
    height: 3.3rem;
    width: 100%;
    outline: none;
    font-size: 1.1rem;
    padding: 0 1rem;
    color: var(--primary-clr);
    border: 2px solid var(--second-clr-alt);
}
.search-input::placeholder {
    font-size: 1rem;
    color: var(--input-border-clr);
}
.search-icon {
    cursor: pointer;
    height: 3.3rem;
    background-color: var(--second-clr-alt);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: 150ms background-color;
}
.search-icon:hover {
    background-color: var(--second-clr);
}
@media screen and (max-width: 924px) {
    .nav_filter-search_bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-filter-container {
        width: 100%;
    }
    .search-form-container {
        margin-left: 0;
        margin-top: 1rem;
        width: 100%;
    }
}

/* --- products and products categories --- */
.products_categ-products {
    margin-top: 2rem;
}
.category-info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.load-more {
    color: var(--primary-clr-alt);
}
.load-more:hover {
    color: var(--primary-clr);
}

/* --- */
.products {
    column-width: 300px;
    column-gap: 3rem;
}
.product-info {
    background-color: var(--gray-clr);
    padding: 1rem;
}
.product-info .title {
    color: var(--primary-clr-alt);
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: .4rem;
    transition: 150ms color;
}
.product-info .title:visited {
    color: var(--second-clr);
}
.product-info .title:hover {
    color: var(--second-clr);
}
.product-info .description {
    color: var(--primary-clr-alt);
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.product-info .price {
    color: var(--primary-clr-alt);
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* -- */
.cart-actions .counter {
    display: flex;
    margin-bottom: .2rem;
}
.no_in_cart {
    font-size: 1.1rem;
    color: var(--primary-clr-alt);
    border: thin solid var(--primary-clr-alt);
    height: 2rem;
    width: 100%;
}
.counter-btn {
    cursor: pointer;
    border: thin solid var(--primary-clr-alt);
    width: 50px;
}
.counter-btn:hover {
    background-color: var(--white-clr-alt);
}
.counter-btn:first-child {
    border-right-width: 0;
}
.counter-btn:last-child {
    border-left-width: 0;
}

.add-to-cart-btn {
    width: 100%;
    height: 2.5rem;
}

/* ============== FOOTER ============== */

